<%= form_with model: article do |form| %>

    <div>
    <%= form.label "Title: ", class: "article-form-label" %><br/>
    <%= form.text_area :title, :rows=>1 %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
        <span class="form-error"><%= message %></span>
    </div>
    <% end %>

    <div>
    <%= form.label "Content: ", class: "article-form-label" %><br/>
    <%= form.text_area :body, :rows=>9%>
    <% @article.errors.full_messages_for(:body).each do |message| %>
        <span class="form-error"><%= message %><span>
    <% end %>
    <p class="actions"><%= form.submit "Submit", class:"submit-btn" %></p>  
    </div>
<% end %>