<%= render "header" %>

<div class="category-title-container">
    <span class="category-title"><%= @article.title.upcase %></span>
</div>

<div class="article-body-container-container">
<div class="article-body-list-container">

<div class="article-body-header-container">
    <span class="article-body-header">Date Posted: <%= @article.created_at %></span>
    <span class="article-body-header" >Last Updated: <%= @article.updated_at %></span>
</div>

<div class="article-body-container"><span class="article-body"><strong><%= @article.body %></strong></span></div>

</div>
</div>

<div class="article-subtitle-container-container">
<span class="article-subtitle-container">
    <span><%= link_to "Edit", edit_article_path(@article), class: "article-subtitle"  %></span>
    <span><%= link_to "Back to Main", root_path, class: "article-subtitle"  %></span>
</span>
</div>